<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737359671531-nqmelr9tnrsps2mrbe2johtmgkjekeia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737359671531-nqmelr9tnrsps2mrbe2johtmgkjekeia</string>
	<key>API_KEY</key>
	<string>AIzaSyBiGALqJd4bD5KJBLskwwKQ0-yhLSjBRDc</string>
	<key>GCM_SENDER_ID</key>
	<string>737359671531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ThreeLeaves.PathsBeatricesAdventure</string>
	<key>PROJECT_ID</key>
	<string>pathsbea</string>
	<key>STORAGE_BUCKET</key>
	<string>pathsbea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737359671531:ios:c37cd3fa064d925a284eae</string>
	<key>DATABASE_URL</key>
	<string>https://pathsbea-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>